*{
	box-sizing: border-box  ; /*la taille de la boite c'est les bordures de la boite*/
}

header{
	text-align: center;
	background-color: #1D1D1D;
	color: white;
	padding-bottom: 30px;
	
}

body{
	font-family: 'Roboto',sans-serif;
	background-color: #F4F7F6;
	margin: 0px;
		/*background-image: url(https://kinsta.com/fr/wp-content/uploads/sites/4/2018/10/meilleures-polices-google-1024x512.jpeg);*/
	
}

nav{
	text-align: center;
	background-color: white;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
	padding: 15px;
}
  
section{
	text-align: center;
	margin-top: 50px;
}

h1{
	/*font-size: 1.3em;*/
	font-family:'njnaruto',sans-serif ;
	margin-top: 0;  
	padding-top: 30px;
} 
/*special lorque la souris iras dessus*/
h1:hover{
	color: red;
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	width: 400px; 
	/*overflow: hidden (scrollpour defiler
	sinon auto); pour cacher le w au cas ou
	si on ajoute leheight*/
	margin: auto; /*a gauche a droite meme largeur*/

}

h3:before{
	content: "<< ";
	color: gray;
}


h3{
	font-weight:bolder;
	font-size: 1.5em;
	clear: both;
	text-transform: uppercase ;
	
}

h3:after{
	content: " >>";
	color: gray;

}

a{
	text-decoration: none;
	color: black;
}

a:focus {
	color: red;
}

ul{
	/*pour la marge exterieur*/
	padding: 0;
	display: inline;
}

li{
	list-style-type: none; /* pour annuler les point
		il y a en a plein */
	display: inline; /*horizontale*/
	margin: 10px; 
}
li:hover{	 
}


}
.bienvenue{
 
}
.p{
	border: 1px black solid;
	border-radius: 15px;
}
footer{ 
	font-weight: bold; /*gras*/
 background-color: #1D1D1D;
 color: white;
 text-align: center;
 padding: 15px;
}

/*id*/
#logo{
/*float: left;*/ 
/*pour annuler*/
margin-top: "30px";
width: 50px;
}

#projets{
	display: flex;
	flex-wrap: wrap;

}

 #contact{
 	border: 1px black solid;
 	border-radius: 15px;
 	padding: 30px;
 	margin-bottom: 50px;
 }
 #first img{
	width: 50%;
 }

 /*classe*/
;
.separateur{
	width: 40px;
	height: 1px;
	margin: 15px auto;
	display: block;
	background-color: #999999;
}

.contener {
	width: 80%;
	margin: auto;
}

.projet{
	text-align: center;
	width: 400px;
	margin: 30px ;
	display: inline-block;
	background-color: white;
	padding-bottom: 15px;
	border: 0px black solid;
	border-radius: 10px;
	overflow: hidden; /* pour cacher tout ce qui depasse */
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
}
/* hover pour dire quand la sourire passe dessus */
.projet:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* pas declaré mais vise img */
.projet img{
	min-width: 400px;
	height: 266px;
}
.projet span {
	text-transform: uppercase;
	display: block;
}

.pictures{
min-width: 400px;
height: 266px;
overflow: hidden;
margin-bottom: 15px; 
}

.projet .date-projet{
font-size: 15px;

}

.first img, first video{
	width: 80%;
}



/*police @font-face*/ 

@font-face {
	font-family: 'njnaruto';
	src:url('../src/njnaruto.ttf') format('truetype');
}

/* responsivité */
@media all and (max-widht: 1000px){
	.projet {
		width: 100%;
		text-align: center;
	}
}
  