*{
	box-sizing: border-box  ; /*la taille de la boite c'est les bordures de la boite*/
}

header{
	text-align: center;
	background-color: #1D1D1D;
	color: white;
	padding-bottom: 30px;
	
}

body{
	font-family: 'Roboto',sans-serif;
	background-color: #F4F7F6;
	margin: 0px;
		/*background-image: url(https://kinsta.com/fr/wp-content/uploads/sites/4/2018/10/meilleures-polices-google-1024x512.jpeg);*/
	
}

nav{
	text-align: center;
	background-color: white;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
	padding: 5px;

	

}
  
section{
	text-align: center;
}

h1{
	/*font-size: 1.3em;*/
	font-family:'njnaruto',sans-serif ;
	margin-top: 0;  
	padding-top: 30px;
} 
/*special lorque la souris iras dessus*/
h1:hover{
	color: red;
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	width: 400px; 
	/*overflow: hidden (scrollpour defiler
	sinon auto); pour cacher le w au cas ou
	si on ajoute leheight*/
	margin: auto; /*a gauche a droite meme largeur*/

}

h3:before{
	content: "<<";
	color: gray;
}


h3{
	font-size: 1.5em;
	clear: both;
	text-transform: uppercase ; /*form du text maj ou minu*/
}

h3:after{
	content: ">>";
	color: gray;
}

a{
	text-decoration: none;
	color: black;
}

a:focus {
	color: red;
}

ul{
	/*pour la marge exterieur*/
	padding: 0;
	display: inline;
}

li{
	list-style-type: none; /* pour annuler les point
		il y a en a plein */
	display: inline; /*horizontale*/
	margin: 10px; 
}
li:hover{	 
}


}
.bienvenue{
 
}
.p{
	border: 1px black solid;
	border-radius: 15px;
}
footer{ 
	font-weight: bold; /*gras*/
 background-color: #1D1D1D;
 color: white;
 text-align: center;
}

/*id*/
#logo{
/*float: left;*/ 
/*pour annuler*/
margin-top: "30px";
width: 50px;
}

 #contact{
 	border: 1px black solid;
 	border-radius: 15px;
 }

 /*classe*/
pour le trait entre H1  ET H2
.separateur{
	width: 40px;
	height: 1px;
	margin: 15px auto;
	display: block;
	background-color: #999999;
}


/*police @font-face*/ 

@font-face {
	font-family: 'njnaruto';
	src:url('../src/njnaruto.ttf') format('truetype');
}
